<!-- IF S_TYPE == 1 -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_CONFIRMATION}</h3>
	<p>{L_CONFIRM_EXPLAIN_JIGSAW}</p>

	<fieldset class="fields2">
<!-- ENDIF -->
	<style>
.puzzleArea {
	position:relative;
	height:{CAPTCHA_PUZZLE_HEIGHT}px;
	width:{CAPTCHA_PUZZLE_WIDTH}px;
	overflow: visible;
	background-color: rgb(0,120,60);
}
.tileSelected {
	border: 1px solid red;
}
	</style>
	<!--script type="text/javascript" src="script/Sprite.js"></script-->
	<script type="text/javascript" src="script/captcha_jigsaw.js"></script>
	<script>
// <![CDATA[
//	onload_functions.push('apply_onkeypress_event()');
// ]]>
	</script>
	<script>
	//<![CDATA[
		window.addEventListener("load", function()
		{
			puzzle.init("{CONFIRM_IMAGE_LINK_NOCODE}", [{CAPTCHA_PUZZLE_X},{CAPTCHA_PUZZLE_Y}], [{CAPTCHA_PUZZLE_IMG_X},{CAPTCHA_PUZZLE_IMG_Y}]);
		});
	//]]>
	</script>
	<dl>
		<dt><label for="confirm_code">{L_CONFIRM_CODE}:</label></dt>
		<dd class="puzzleArea" id="puzzleframe"><!--img src="{CONFIRM_IMAGE_LINK}" alt="{L_CONFIRM_CODE}" /--><noscript>Please enable javascript to operate captcha puzzle</noscript></dd>
		<dd><input type="hidden" name="confirm_code" id="confirm_code" size="4" maxlength="4" tabindex="{$CAPTCHA_TAB_INDEX}" class="inputbox narrow" title="{L_CONFIRM_CODE}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L_VC_REFRESH}" /><!-- ENDIF -->
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" /></dd>
		<dd>{L_CONFIRM_CODE_EXPLAIN_JIGSAW}</dd>
	</dl>

<!-- IF S_TYPE == 1 -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
